# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
env/
venv/
.venv/

# Jupyter
.ipynb_checkpoints/
*.egg-info/
*.egg

# Data / results (adjust as needed)
data/
*.csv
*.xlsx
*.parquet
*.pkl

# VSCode
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs
*.log
